/*===========================================
Colors
===========================================*/


$theme-color: #00BA74;


/*===========================================
Fonts
===========================================*/

$base-font: 'HK Grotesk'; /* Base font */
$base-font-size:16px;


